{{- define "main" }}

<header class="page-header">
  <p class="home-intro">{{ site.Params.homeIntro | default site.Params.description }}</p>
</header>

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- $pages = $pages.ByDate.Reverse }}

{{- $yearGroups := $pages.GroupByDate "2006" }}

<div class="posts-by-year">
  {{- range $yearGroups }}
  <section class="year-group">
    <h2 class="year-heading">{{ .Key }}</h2>
    <ul class="year-posts">
      {{- range .Pages }}
      <li class="year-post-entry">
        <a class="year-post-title" href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="year-post-date">{{ .Date.Format "2 January 2006" }}</span>
      </li>
      {{- end }}
    </ul>
  </section>
  {{- end }}
</div>

{{- end }}{{- /* end main */ -}}
